<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div style="text-align:center"><img class="logo" src="../../../assets/images/logo.png" alt="logo" width="150px"></div>
  <div class="mb-3 mb-5 text-center ml-5">
    <label for="exampleInputEmail1" class="form-label mt-4 h3">Email *</label>
    <input type="email" class="form-control p-3" required id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email" placeholder="Email">
  </div>
  <div class="mb-5 text-center">
    <label for="exampleInputPassword1" class="form-label h3">Contraseña *</label>
    <input type="password" class="form-control p-3 h2" required id="exampleInputPassword1" formControlName="password"
      placeholder="Contraseña">
  </div>
  <div class="mb-3 form-check d-flex justify-content-center">
    <input type="checkbox" class="form-check-input p-3 h4" id="exampleCheck1" formControlName="rememberUser">
    <label class="form-check-label mt-2 ml-2 h4" for="exampleCheck1">Recordarme</label>
  </div>
  <div class="text-center pt-2">
    <button type="submit" class="btn p-1 mt-4 h3 text-white" style="font-size: 25px; background-color:#D44000;"
      [disabled]="!loginForm.valid">Iniciar
      Sesión</button>
  </div>
</form>
<p class="text-center mt-5 h5">Todavia no estas registrado? <a routerLink="/register">Registrarse</a></p>
