<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="my-4">
    <div style="text-align:center"><img class="logo" src="../../../assets/images/logo.png" alt="logo" width="150px">
    </div>
    <label for="exampleInputEmail1" class="form-label">Email <strong>*</strong></label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email" placeholder="Email">
  </div>
  <div class="my-4 ">
    <label for="exampleInputPassword1" class="form-label">Contraseña <strong>*</strong></label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
      placeholder="Contraseña">
  </div>
  <div class="my-4 text">
    <label for="exampleInputPassword1" class="form-label">Repita Contraseña <strong>*</strong></label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="confirmPassword"
      placeholder="Confirmar contraseña">
  </div>
  <div class="text-center py-4">
    <button type="submit" style="background-color: #D44000; font-size: 25px;" class="btn p-1 mt-4 h3 text-white"
      [disabled]="!registerForm.valid">Registrarse</button>
  </div>
</form>
<p>Ya estas registrado? <a routerLink="/login">Ingresar</a></p>
