<form *ngIf="cart.length > 0" class="mx-2">
    <legend class="text-center pt-5 font-size">Resumen</legend>
    <p> </p>


    <!-- DATATABLE -->
    <ngx-datatable #table class="material striped" [rows]="cart" [columnMode]="'flex'" rowHeight="auto" [messages]="{emptyMessage: '' | translate, totalMessage: '' | translate, selectedMessage: false}">
        <!-- [loadingIndicator]="" -->

        <ngx-datatable-column name="Cant." prop="quantity" [flexGrow]=".5" fxFlexAlign="center">
            <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.quantity }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description" [flexGrow]="2" fxFlexAlign="center">
            <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.menu.description | json }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Precio" prop="price" [flexGrow]="1" fxFlexAlign="center">
            <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.menu.price | json | currency }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="" [flexGrow]="1" fxFlexAlign="center">
            <ng-template ngx-datatable-cell-template let-row="row">
                <button (click)="removeFromCart(row.menu, row.quantity)" type="button" class="btn btn-danger">Eliminar</button>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>

    <!-- / DATATABLE -->

    <legend class="text-center pt-5 font-size">Total: {{ this.cart.total | currency }}</legend>


    <div class="text-center pt-5 font-size">

        <button type="button" class="btn btn-dark btn-lg" (click)="submitButton()" type="reset">
      Confirmar
    </button>


    </div>
    <div>
        <p> </p>
    </div>

</form>

<div class="container-fluid" style="height: 30vh" *ngIf="cart.length <= 0">
    <p class="text-center mt-5">No hay items en el carrito</p>
</div>