<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4 d-flex justify-content-center">

      <!-- Linkedin -->
      <div class="p-2">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank"
          href="https://www.linkedin.com/in/alexisaguirre-fullstack/" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <p>Ale</p>
      </div>
      <div class="p-2">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank"
          href="https://www.linkedin.com/in/matias-nicolas-michelli-37889a123/" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <p>Mati</p>
      </div>
      <div class="p-2">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank"
          href="https://www.linkedin.com/in/lautaro-garcia-b19b75164/" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <p>Lauti</p>
      </div>
      <div class="p-2">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank"
          href="https://www.linkedin.com/in/walter-rodas-7b9572180/" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <p>Walter</p>
      </div>
      <div class="p-2">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank"
          href="https://www.linkedin.com/in/nicolasemiliani/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <p>Nico</p>
      </div>

    </section>

    <section>

      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-auto d-flex">
            <i class="fas fa-map-marker-alt p-1" style="color: red; font-size: 20px;"></i>
            <p>
              <a style="text-decoration: none;" routerLink="/map"><strong
                  class="font-size text-white font-weight-bold">Encontranos</strong></a>
            </p>
          </div>
        </div>
      </section>




      <form>
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong class="font-size">Team CSS-GO</strong>
            </p>
          </div>

        </div>
      </form>
    </section>



  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <strong>©</strong> 2021 Copyright
  </div>
</footer>
