<p class="text-center h1 my-5">Encontranos</p>
<div class="mb-5 d-flex flex-column justify-content-center  animate__animated animate__flipInX" style="height: 290px;">
  <iframe class="w-100 pb-3"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d506.2707742598657!2d-64.18446234661258!3d-31.39289839268799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329867c3e8a599%3A0x7cef181176843421!2sNaranja%20Alta%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1624228568225!5m2!1ses-419!2sar"
    allowfullscreen="" loading="lazy">
  </iframe>
  <div class="text-center mt-3">
    <i class="fas fa-map-marker-alt"></i>
    <p class="h4">Mariano Fragueiro 1980, Cordoba Argentina</p>
  </div>
</div>
