<!-- <img class="footer col-12" src="../assets/images/footer.jpg" alt="naranjaX"> -->
<div *ngIf="menus$ | async as menus" class="d-flex flex-wrap justify-content-center">
    <app-menu class="mt-3" *ngFor="let menu of menus" [menu]="menu"></app-menu>
</div>
