  <div class="col-md-12">
    <div *ngIf="menu" class="card mt-3 animate__animated animate__fadeIn">
      <img [src]="menu.imgUrl" class="card-img-top h1" [alt]="menu.description">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 h1" id="titulo">{{menu.name}}</h5>
        <p class="card-text description h5 mb-4 ">{{menu.description}}</p>
        <label for="cantidadFormControl description" class=" form-label h-3">Cantidad</label>
        <div class="text-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <input type="number" class="form-control mb-3 w-100" id="cantidadFormControl" [(ngModel)]="quantity">
              </div>
              <div class="col">
                <p>Precio: ${{menu.price * quantity}}</p>
              </div>
            </div>
          </div>
          <button type="button" (click)="addToCart()" class="btn1 btn btn-warning p-1" [disabled]="quantity <= 0">Añadir
            al carrito <i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
    </div>
  </div>
