
a:hover {
    text-decoration: none;
}
.fas.fa-hamburger::before {
    font-size: 80px;
    color: #D44000;
}

/* Whatsapp position fixed */
.fixed {
 position: relative;
   top: 11rem;
  left: 70rem;  
  z-index: 1500;
}
.fa-whatsapp {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  position: fixed;
}
i.fa-whatsapp:before {
    position: relative;
    left: 1rem;
    font-size: 2.2rem;
}