@use '../../styles/_variables'

// /----------------------
//--------Estilos navBar.component--------
//----------------------

.nav-link
  padding-left: 10px
  margin-left: 10px
  

.navbar-text
  padding-left: 10px
  margin-left: 10px
  


.fa-whatsapp 
  width: variables.$whl-whatsapp
  height: variables.$whl-whatsapp
  line-height: variables.$whl-whatsapp
  border-radius: 50%
  position: fixed

i.fa-whatsapp:before 
    position: variables.$relative
    left: 1rem
    font-size: 2.2rem

