<header>
  <style>
    .navbar-dark {
      padding: 20px;
      min-height: 200px;
    }

  </style>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/"><img class="logo" src="../../../assets/images/logo.png" alt="logo"
        width="150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../assets/images/hamburger-svgrepo-com.svg" alt="" height="20px" width="20px">
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let item of items" class="nav-item">


          <a class="nav-link" routerLinkActive="active" [routerLink]="item.path">{{item.name}} <span *ngIf="active"
              class="sr-only"></span><i class="fab fa-first-order text-white"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="logOut()">Cerrar sesión <i class="fas fa-user"></i></a>

        </li>
      </ul>
      <span class="navbar-text">
        <a class="text-decoration-none" routerLinkActive="active" routerLink="/order/checkout">
          Carrito
          <i class="fas fa-shopping-cart"></i>
        </a>
      </span>
    </div>
  </nav>
</header>
